{{>layouts/header}}

<table class="table table-hover">
    <colgroup>
        <col width="10%"/>
        <col width="40%"/>
        <col width="40%"/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">/</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">2</th>
        <td style="word-break:break-all">11111111111111111111111111</td>
        <td style="word-break:break-all">1111111111111111111111111111111111111111111111111111111</td>
        <td style="word-break:break-all">@mdo</td>
        <td style="word-break:break-all"><button class="btn btn-primary">삭제하기</button>
        </td>
    </tr>
    </tbody>

</table>
<button type="button" class="btn btn-success" onClick="location.href='/showCompareResult'">비교 하기</button>

{{>layouts/footer}}