{{>layouts/header}}


<div class="container">
<div>
<table class="table table-hover">
    <colgroup>
        <col width="10%"/>
        <col width="40%"/>
        <col width="40%"/>
    </colgroup>
    <thead>
    <tr>
        <th>항목</th>
        <th>제품 1</th>
        <th>제품 2</th>
    </tr>
    </thead>
    <tbody>
    {{#products}}
        <tr>
            <td>제품명</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>카테고리</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>가격</td>
            <td>{{price}}</td>
        </tr>
        <tr>
            <td>세부 스펙</td>
            <td>{{detail}}</td>
        </tr>
        <tr>
            <td>긍정 리뷰</td>
            <td>{{positiveReview}}</td>
        </tr>
        <tr>
            <td>부정 리뷰</td>
            <td>{{negativeReview}}</td>
        </tr>
    {{/products}}
    </tbody>
</table>
</div>
</div>
{{>layouts/footer}}