{{>layouts/header}}

<table class="table table-hover">
    <colgroup>
        <col width="20%"/>
        <col width="15%"/>
        <col width="30%"/>
        <col width="5%"/>
        <col width="15%"/>
        <col width="15%"/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">제품명</th>
        <th scope="col">카테고리</th>
        <th scope="col">세부 스펙</th>
        <th scope="col">가격</th>
        <th scope="col">긍정적 리뷰</th>
        <th scope="col">부정적 리뷰</th>

    </tr>
    </thead>
    <tbody>
    {{#products}}
        <td>{{name}}</td>
        <td>{{category}}</td>
        <td>{{detail}}</td>
        <td>{{price}}</td>
        <td>{{pros}}</td>
        <td>{{cons}}</td>
    {{/products}}
    </tbody>
</table>

{{>layouts/footer}}