{{>layouts/header}}

<form class="container" action="Test/create" method="post">
    <div class="mb-3">
        <label class="form-label">제품 이름</label>
        <input type="text" class="form-control" name="content">
    </div>
    <button type="submit" class="btn btn-primary">search</button>
</form>

{{>layouts/footer}}